[2016-07-23 19:04] DomDomHaas opened #1 "Play / Stop Preview"
Hi There

I'm using the extension to try shaders like on shadertoy. I think a play / stop button for the preview would be nice. Now it's always trying to complie, but I had moments when some thing heavy was beeing processed and I couldn't bearly move the cursor. So I had to type an error to stop the preview :)

[2016-07-23 19:05] DomDomHaas opened #2 "Compile errors"
Hi there :)

Well showing compile errors would be great. Or at least highlighting the line which has a problem.

[2016-07-23 19:52] stevensona commented on #2
I totally agree. I am currently working out a way to redirect the output from the TextDocumentContentProvider interface into the workspace.

[2016-07-23 21:46] stevensona commented on #2
0.1.6 adds basic support for error output. It currently displays the list of GLSL compiler errors in the output view. It's not perfect, but it's certainly better than before.
![errors](https://cloud.githubusercontent.com/assets/431691/17080435/50228b44-50fd-11e6-8372-90f3e500ce77.png)

[2016-10-09 23:54] stevensona opened #3 "Create logo for the extension"

[2016-11-10 11:42] daiday opened #5 "Can't LOAD the TEXTURE!"
my glsl code is :

void main()
{
    gl_FragColor = texture2D(iChannel0, gl_FragCoord.xy);
}

and my folder is:
.vscode
test.glsl
normalmap_2.png

my settings.json is:

{
        "shader-toy.textures": {
        "0": "./normalmap_2.png"
    }
}

BUT, I can't see the image anywhere! and the image is power of two...
please help me...

[2016-11-11 01:11] stevensona commented on #5
Thanks, currently investigating.

[2016-11-11 01:29] stevensona commented on #5
The root cause for this regression is still under investigation. For the time being, if you use texture resource not on the local machine, it will load and render correctly. For example:
[code]
[code]

[2016-11-12 00:48] konung opened #6 "Off-Topic for Adam Stevenson"
Hi Adam
This is not a SPAM message.

My name is Nick Gorbikoff - I'm an it director over at AJR International, a company in Glendale Heights, IL . We got your resume through indeed.com and tried to contact you, but I'm guessing it went to SPAM.
If you are still interested in a Ruby Developer position, please reach out to me
-------------------------
Kind Regards,

Nick Gorbikoff
IT Director

AJR I

[2016-11-12 03:51] daiday commented on #5
Sorry.... I use the wrong UV.... first time write the pixel shader without vertex shader...
 Thanks for your help, and I use the FULL DIRECTIONARY PATH NAME, it works,and the network path works too.
thanks!

[2016-11-12 03:52] #5 closed

[2016-11-12 21:37] stevensona commented on #6
Responded via email

[2016-11-12 21:37] #6 closed

[2016-12-12 10:04] arjankuijpers opened #7 "Make compatible OpenGL glsls version 330 ?"
I don't know if it is possible to make this awesome plugin compatible with (Desktop) OpenGL.
I am creating shaders for desktop GLSL and they don't seem to display without modifications.

[2016-12-12 21:24] stevensona commented on #7
Unfortunately, Visual Studio Code is based on Electron, which is powered by Chromium. Because of this, we're limited to using the "subset" of OpenGL that runs in the browser via WebGL. As it turns out, "A WebGL implementation must only accept shaders which conform to The OpenGL ES Shading Language, Version 1.00" [source](https://www.khronos.org/registry/webgl/specs/1.0/#4.3).

I'm in the planning

[2017-02-02 11:29] RoganMurley opened #8 "Unable to open 'GLSL Preview': Cannot read property 'document' of undefined."
When running `Show GLSL Preview` from the command palette I get the following error:

`Unable to open 'GLSL Preview': Cannot read property 'document' of undefined.`

[2017-02-04 03:26] stevensona commented on #8
Rogan,
Can you tell me a bit more about how you're using it or provide a screenshot? You must use the command `Show GLSL Preview` with a GLSL document open.

[2017-02-09 18:32] noxo commented on #8
<img width="1392" alt="screen shot 2017-02-09 at 20 30 07" src="https://cloud.githubusercontent.com/assets/714768/22797387/b3e08dfa-ef06-11e6-9013-d77ab24be618.png">
I've same issue with Visual Studio Code & Mac..

[2017-02-11 21:07] stevensona commented on #8
Thanks @noxo for posting the screenshot. When I get a chance, I'll look into it.

[2017-02-13 12:43] ircubic opened #9 "No content in preview window"
When running the preview command, the preview window opens, but no content is visible. The developer console shows the generated page, and the error: `[Embedded Page] Uncaught ReferenceError: THREE is not defined`

From my quick review of the generated code, it looks like the canvas and all relevant script tags are generated after the `</body>` tag, which seems problematic.

The full generated cod

[2017-02-21 10:23] K4stor opened #10 "Nothing happends"
Hi

I have the extension installed, I added a test shader, opened the extension, and the preview stays blank and no error is shown in the console.

![screen shot 2017-02-21 at 11 21 39](https://cloud.githubusercontent.com/assets/1078043/23160805/2af6f314-f828-11e6-8a44-c497f5e2dcbd.png)

[2017-02-22 03:15] stevensona commented on #10
Thanks for taking time to report the issue. Which platform is this on?

[2017-02-22 03:16] stevensona commented on #9
Thanks for the detailed report. Which platform is this on?

[2017-02-22 08:22] K4stor commented on #10
Hello,

its happening on mac os sierra. Is there anything I can do to help you find the issue ?

[2017-02-22 22:54] stevensona commented on #10
Yeah this one's got me stumped at the moment. It doesn't work on my mac os sierra anymore either. I'm not sure if something in vscode or chromium changed to break it. Still works on Windows and will investigate more when I get a chance.

[2017-02-23 09:35] K4stor commented on #10
Thanks !

[2017-03-01 00:15] stevensona commented on #10
@K4stor Thanks to @voppe, this issue should be fixed (works on my mac at least)! Please update, and let me know how it goes!

[2017-03-01 00:16] stevensona commented on #9
@ircubic please update the extension and let me know if the issue is resolved.

[2017-03-01 09:52] K4stor commented on #10
thanks so much guys !! I works like a charm now

[2017-03-01 09:52] #10 closed

[2017-03-02 23:30] #3 closed

[2017-03-12 22:10] edap opened #13 "mouse input"
Could mouse input in the preview be available?

[2017-04-27 22:06] JCMais commented on #13
So, I was personally going to fix this and submit a PR. But looks like the issue is with VS Code, there is no way to get the mouse position from inside an extension (the events are not fired). And from what I can see, this is intentional.

[2017-04-27 22:08] stevensona commented on #13
That's unfortunate! Thanks for looking into it--maybe it will change in the future.

[2017-05-05 22:17] #9 closed

[2017-05-13 18:59] stevensona commented on #8
#11 fixed this.

[2017-05-13 18:59] #8 closed

[2017-05-21 06:09] neargray opened #15 "how to deal with multipass shadertoy?"
like this one:
https://www.shadertoy.com/view/4ttSWf
how to transplant the multipass shdertoy code to vsc using your plugin, can you make a demo, thanks!

[2017-05-24 13:02] stevensona commented on #15
Right now, this extension does not support multipass shaders.

[2017-06-06 02:09] yafacex opened #16 "0.4.0 can not loadTexture,screen blank"
my os is win7,0.4.0 can not loadTexture in my pc.

[2017-06-06 13:52] stevensona commented on #16
Please show the code, as well as your workspace's settings.json file

[2017-06-08 05:14] yafacex commented on #16
code:
void main(){
    vec2 uv = (gl_FragCoord.xy/iResolution.xy);
    uv.y += .05 * sin(iGlobalTime + uv.x * 10.);
    uv.x += .05 * sin(iGlobalTime + uv.y * 10.);
    vec4 color = texture2D(iChannel0,uv);
    gl_FragColor = color;
    // gl_FragColor = vec4(0,0,1,1);
}

config file in .vscode/settings.json:

{
    "shader-toy.textures": {
        "0": "./perlin.png",
        "1": "./duck.png"

[2017-06-15 12:38] stevensona opened #17 "Audio channels"
Similar to Shadertoy.com, support audio channels as inputs into shaders.

Suggested by @edap

[2017-07-13 20:51] MacroMachines commented on #17
I advise checking out integrating the interactiveshaderformat.com git, they have some very useful things including audio FFT and json for uniforms and render layers as well as many other nice additions in their open source spec

[2017-07-13 20:52] MacroMachines commented on #15
also I refer you to interactiveshaderformat.com spec and git, they have a great method implemented to deal with this.

[2017-07-27 11:00] hbflyhbfly commented on #16
hi,Ihave the same question.
The local texture can't loaded.
![qq20170727-185931](https://user-images.githubusercontent.com/3788918/28667357-c229c89c-72fd-11e7-9597-7c4048c9863d.png)
**setting.json**:
{
    "shader-toy.textures": {
        "0": "./role_2.png",
        "1": "https://66.media.tumblr.com/tumblr_mcmeonhR1e1ridypxo1_500.jpg"
    }
}
**glsl**:
vec2 focus = vec2(.5,.5);

const float split

[2017-08-28 03:48] aft opened #18 "Feature Request: Shader Compile Time"
I don't know if it is possible or not but it would be awesome to see shader compile time and shader 1 frame draw time.

[2017-12-31 02:57] vadim-kudr commented on #16
use absolute path like file:///Users/user/dev/gl/0.jpg

[2018-04-07 13:59] CyangYu opened #20 "Can't Open “GLSL Preview”: Cannot read property 'document' of undefined."
This message from VS Code. My System is "Manjaro Linux", The mesa version is 3.0 Mesa 17.3.8

[2018-05-17 11:16] medakk opened #21 "Error messages show wrong line number"
The line number mentioned in the error is not the same line where the error actually is.

Example:
[code]

Error:
[code]

![image](https://user-images.githubusercontent.com/10536745/40174164-da518a28-59f1-11e8-89b0-d83f15fe4f5a.png)

[2018-07-02 17:15] stevensona commented on #13
Added in #22

[2018-07-02 17:16] stevensona commented on #18
Frame draw time added in #22

[2018-07-03 19:11] Malacath-92 commented on #21
Is this fixed for you in the most recent version?

[2018-07-03 20:32] medakk commented on #21
Yes, it works now.

Thanks!

[2018-07-03 20:32] #21 closed

[2018-08-26 16:26] ElmarWueest opened #23 "bug: shader doesn't get rendered and doesn't display any error"
Hello

My shader get not rendered. The Fps counter is running and no error gets displayed, but only the VS background color is rendered.

I'm developing a shader for a Phone background. This shader is programmed to run on the "shader editor" app: [appstore](https://play.google.com/store/apps/details?id=de.markusfisch.android.shadereditor). The shader runs without any problems on this app.(undefine

[2018-08-27 08:32] Malacath-92 commented on #23
Do you see compiler errors? For me it mentions:
[code]

The warnings can possibly be ignored, but the non-constant index expression won't ever compile on WebGL 1.0. I have a pull-request in the pipeline that enables partial WebGL 2.0 support if available. That maybe supports this, but I'm not sure myself. I'll check my dev-build when I get home.

Please let us know also if your output looks like t

[2018-08-27 08:32] Malacath-92 commented on #20
Is this a problem in the current version? And is it reproducible for you?

[2018-08-27 15:54] Malacath92 commented on #23
Sorry, I just noticed I missed in your issue that you don't see any errors. What platform are you running VSC on?

[2018-08-27 15:56] Malacath-92 commented on #23
Sorry, I just noticed I missed in your issue that you don't see the errors. Om what platform are you running VSC?

[2018-08-27 18:49] Malacath-92 commented on #23
The errors are removed in WebGL 2.0 but what was previously a warning has been promoted to an error  :P
With a couple modifications to the shader I got it to run, not sure if that is how it should look:
![image](https://user-images.githubusercontent.com/30243536/44679162-76a2b580-aa3a-11e8-98a0-dfa78d594de0.png)

Note I'm using the SHADER_TOY define to check if this is running in the extension, we

[2018-08-28 07:04] MJCD opened #25 ""To use relative paths please open a workspace""
I have already saved a new workspace with the glsl file open and saved it, then reopened the workspace - still get this error followed by; 'Unable to open 'GLSL Preview": ENOENT: no such file or directory ...\undefined\other-shader.glsl

[2018-08-28 07:25] Malacath-92 commented on #25
This issue I introduced in the last release because I did not test the old setup. I made a pull-request to fix this. I would advise you to insert the following snippet into your "settings.json" which you open as described [here](https://code.visualstudio.com/docs/getstarted/settings).
[code]
and from now on specify textures in the shader rather than the settings.

[2018-08-28 07:34] Malacath-92 opened #27 "Sampling from buffers seems to exhibit sampling/scaling issues"
Not sure why, but when sampling from a buffer we get some issues that cause rather severe artifacts. See the example below:
![image](https://user-images.githubusercontent.com/30243536/44707707-8f948080-aaa5-11e8-842b-e3d23666d3f9.png)

[2018-08-28 08:46] MJCD commented on #25
Thanks for your prompt response @Malacath-92 - that got me up and running for now. Appreciate your efforts.

[2018-08-29 20:10] ElmarWueest commented on #23
For me everything is solved.
Thank you alot for your support and development of the shadertoy extension for VSC.
It's a great tool!!

[2018-08-29 20:10] #23 closed

[2018-08-30 05:53] Malacath-92 commented on #23
Nice, I'm happy you like it  :)
If you have any suggestions on how to make the extension better don't hesitate to let us know.

[2018-08-30 05:55] Malacath-92 commented on #27
I'm pretty sure that this us caused by a low bit-depth. So if we could use maybe 2 or even 4 bytes per channel on the render targets we could possibly eliminate the issue. In my test three.js wasn't very cooperative though.

[2018-08-30 05:58] Malacath-92 commented on #16
Relative paths should be supported as long a workspace is opened.

[2018-08-30 13:12] stevensona commented on #27
For one thing, I think the texture you're using "http://uvmapper.com/help/checker_small.gif" is garbage.

[2018-08-30 13:46] Malacath-92 commented on #27
I intentionally picked a low quality texture because it makes the issue more apparent. But honestly my screenshot isn't amazing, so you gotta zoom in on the right side to see the issue.

[2018-09-01 14:05] Malacath-92 commented on #27
So it seems that three.js didn't play well because we have to enable an extension by hand. I will try to wrap this up for both WebGL 1.0 and 2.0, ideally we'll use a higher bit-depth per pixel for intermediate targets and lower to 8 bits per channel for the presented image. Afaik shadertoy.com uses the same strategy.

Additionally I'll try first to go with nearest filtering since the intermediate

[2018-09-19 08:10] Malacath92 opened #29 "GUI breaks dramatically when window is resized"
The issue looks to much of the gui having a wrong set of UVs, text seems to continually work as expected.

No know way to reproduce as off now.

[2018-09-19 08:11] #29 closed

[2018-09-19 08:12] Malacath92 commented on #29
@stevensona I totally goofed and created an issue on the wrong project. Can you do me the favour and delete this one?

[2018-09-19 13:14] stevensona commented on #29
@Malacath92 Github doesn't support deleting issues, but I'm not worried about it.

[2018-09-22 10:03] Malacath-92 commented on #25
Said pull-request should have closed the issue actually. Not sure why it didn't.
But now that you're here it wouldn't have hurt to hear it from the horse's mouth :P
I'll close the issue though, no one else seems to have had the issue

[2018-09-22 10:03] #25 closed

[2018-09-28 17:50] Malacath-92 opened #33 "Feature Request: Keyboard Input"
Just as shadertoy.com we should support keyboard input. Ideally we would have the same interface (e.g. a 256x3 texture specifying:
1. the js keycode on _x_,
2. on _y_ == 0 a toggle,
3. on _y_ == 1 a pressed (this frame),
3. on _y_ == 2 a down (as in button is held).

I personally miss a release (this frame), which we could support optionally by a setting.

Additionally I think we should inject cod

[2018-09-28 17:50] Malacath-92 commented on #33
I am working on this on my fork. So I document this here to avoid any duplicate work being done.

[2018-11-09 01:34] #33 closed

[2018-11-11 18:17] Malacath-92 commented on #15
@neargray Do you reckon the features we got right now are enough? To use multipass you will have to save each pass as a separate file. I'll shortly explain here how to use them:
To load any other shader as an input into your shader use the same syntax as for loading textures, but use the ```buf://``` "protocol, like so:
```#iChannel0 buf://./first-pass.glsl```
Then sample from ```iChannel0``` as y

[2018-11-11 18:18] Malacath-92 commented on #7
If the hardware supports it, then this extension currently supports WebGl 2.0, that's the best we can do.

[2018-11-11 18:18] #7 closed

[2018-11-11 18:30] Malacath-92 commented on #2
The extensions currently also hyperlinks to reveal the line that the error happens on. The error output will probably not get better for now.

[2018-11-11 18:30] #2 closed

[2018-11-14 18:33] #15 closed

[2018-11-18 10:30] jhodgson91 opened #36 "Preview not working on Linux"
Awesome extension, works great on Windows. Getting the following error trying to open one of the demo shaders on Linux.

[Embedded Page] Uncaught TypeError: Cannot read property 'getExtension' of null

Pause button and frame time show up, but no shader view.

This on Linux Deepin 15.8.
VSCode version info:
Version: 1.29.1
Commit: bc24f98b5f70467bc689abf41cc5550ca637088e
Date: 2018-11-15T19:07:43.4

[2018-11-19 12:02] Malacath-92 commented on #36
Thanks for reporting that issue @jhodgson91, it'd be amazing to get the extension working on all platforms!

This sounds like a problem with three.js or webgl itself, I'll need to look into that. Gonna have to setup a VM and all that, so I don't think it'll happen before the weekend.

One thing you can check for us is weather your GPU supports WebGL (I'd be surprised if not, but you never know). I

[2018-11-19 18:57] jhodgson91 commented on #36
Hey, yeah can confirm its not a graphics card issue. It does work on my windows boot. It does work in Chrome, shadertoy and a quick test I wrote myself both get a webgl context. So beginning to think it's something to do with electron and the webview stuff. My knowledge ends there unfortunately haha.

Let me know if I can help out at all.

[2018-11-20 15:19] stevensona commented on #36
@jhodgson91 Are you, by any chance, inadvertently or not, running code with `--disable-gpu` flag?

[2018-11-20 22:53] jhodgson91 commented on #36
@stevensona - no I wasn't, but this did highlight the --verbose option and I spotted the issue.

Turns out it was failing to find libGLESv2.so. For me this was in /opt/google/chrome/swiftshader, but it was looking for it in /usr/share/code/swiftshader which didn't exist. Adding a symlink fixed it. Not sure why my vscode was missing this, but this doesn't seem like an issue with the extension, rath

[2018-11-20 22:53] #36 closed

[2018-11-21 06:47] Malacath-92 commented on #36
@jhodgson91 I did just set up a VM earlier, running Deepin 15.7 and had in fact the same issue. I'm not very experienced with Linux, so can you make a guess if this issue is related to VSCode or Deepin or its package installer? Then maybe we can consider directing the issue to the right channel.

[2018-11-21 09:12] jhodgson91 commented on #36
@Malacath-92 - my first guess would be the installation. I'd be interested to see if this happens with any other Debian based distros. I'll give it a try with Ubuntu when I get a chance.

[2018-11-22 10:07] esjameshodgson commented on #36
@Malacath-92 - tested it on Ubuntu 18.04 and got the same issue, so yeah looks like installing vscode on any debian distros will have this problem.

[2018-11-22 10:11] jhodgson91 commented on #36
@Malacath-92 - tested it on Ubuntu 18.04 and got the same issue, so yeah looks like installing vscode on any debian distros will have this problem.

[2018-11-22 10:50] Malacath92 commented on #36
@jhodgson91 That's unfortunate. Thanks for taking the time to investigate it!
I will try to take a closer look at this during the weekend/next week, and see if the guys at vscode/electron know anything about it.

[2019-01-08 13:53] enci opened #38 "Feature Request: Resolution Setting"
It would be great to have an option to set resolution/size for the preview window. It's a minor thing and I have a workaround by putting a small window underneath.

[2019-01-09 08:01] Malacath-92 commented on #38
How are we imagining this though?
Afaik we don't have an impact on the actual window in VS Code, I could be wrong.
Instead we could add black bars to the rendering to enforce an aspect ratio of the rendering, the preview window itself would be unaffected.

@enci I imagine your use case is to enforce an aspect ratio and not precise pixels sizes. Am I mistaken in this?

[2019-01-09 11:19] enci commented on #38
Indeed, aspect ratio would work lovely as well. Adding background color bars to enforce that ratio is would be perfect.

I know too little about Three.js and VS Code to tinker myself. It looks like the render() function explicitly reads the window's size and resolution, and uses that to draw a quad in that window.

[2019-01-09 19:47] Malacath-92 commented on #38
It should be simple enough, hopefully I'm not too optimistic. I'll take a look in the weekend  :)

[2019-01-13 01:05] yafacex opened #39 "image export like png or bitmap?"
If it can export  image as a image,it can be used as a procedural texture editor。

[2019-01-13 18:52] Malacath-92 opened #41 "Start using Webview API"
We're using `vscode.previewHtml`, but that has been deprecated. One can see it every time one launches a debug session of the extension.
So instead we should use the Webview API. Some more details are here: https://go.microsoft.com/fwlink/?linkid=2039309

I haven't taken a closer look yet, so I don't know what kind of refactor would be required.

[2019-01-14 16:09] #39 closed

[2019-01-14 16:14] stevensona commented on #38
Added in #40

[2019-01-14 16:14] #38 closed

[2019-01-17 05:17] yafacex commented on #39
I see the camera button,very cool

[2019-01-20 14:00] yafacex opened #42 "iMouse seems not work?"
https://www.shadertoy.com/view/Mtt3z4
I am trying to add this slider to make a noise maker(with the new save feature).but iMouse seems no work,the slider can not be moved.

[2019-02-12 20:30] #42 closed

[2019-03-21 10:34] krauspe commented on #16
I tried both
1. using settings file with relative path , while having open folder in vscode

{
    "shader-toy.textures": {
        "0": "file://./iChannel0.png",
        "1": "file://./iChannel1.png",
        "2": "file://./iChannel3.png",
        "3": "file://./iChannel3.png"
    }
}

2.  Using declaration in shader code which shoould be enabled by default due to documentation

#iChannel0 file:/

[2019-03-21 10:43] Malacath-92 commented on #16
@krauspe I assume you are on the newest version 0.7.10
I'm on Windows 10 and the second version works fine for me. A sample code would be:
[code]
Is your image file really called `iChannel0.png`? Are you sampling the texture correctly, e.g. with correct UV-coordinates as the example does? Are you sure you opened the folder containing your image files? You see that if on top of your screen, between

[2019-03-21 18:11] krauspe commented on #16
@Malacath-92 , yes the names are indeed iChannell0.png , iChannel1.png etc
and yes I'm staying in the folder where everything is located, the shader file ans the pics

Her's my first code snippet:
----- snip -----------------

// Created by inigo quilez - 2015
// License Creative Commons Attribution-NonCommercial-ShareAlike 3.0
#iChannel0 file://./iChannel0.png
#iChannel1 file://./iChannel1.png
#i

[2019-03-21 18:33] Malacath-92 commented on #16
@krauspe I think if you drag and drop an image onto your post it will upload to your users content. But you don't need to attach images, I can place my own for testing. Unless your images are broken of course  😃

[2019-03-22 00:00] #41 closed

[2019-03-22 08:51] krauspe commented on #16
@Malacath-92 , I should mention that I just tried to adapt stuff from shadertoy  containg shaders with texture files.

I wanted to study the snail (https://www.shadertoy.com/view/ld3Gz2)
Meanwhile I found that I used a somewhat modified version

Now tried the original and voila: everything works fine !
However, thanks for helping and sorry for bothering !

I should have tried a simpler example fir

[2019-03-22 09:01] Malacath-92 commented on #16
Alright, this issue is outdated (opened for version 0.4.0) and doesn't seem relevant anymore. So I'll close it and if someone has an issue in the current version they'll open a new one.

[2019-03-22 09:01] #16 closed

[2019-03-22 09:02] Malacath-92 commented on #20
This issue seems outdated, if it still exists we will hopefully get a new issue opened.

[2019-03-22 09:02] #20 closed

[2019-03-30 17:08] ianacaburian opened #45 "GLSL viewer suddenly not loading"
Hey there, see image below. This happens after trying to open the GLSL viewer on a file that has worked previously. As you can see there is no error log displayed as usual - only grey boxes. Not sure what else to try or where to go from here. Thanks in advance for the help.

<img width="1166" alt="Screen Shot 2019-03-31 at 4 03 13 am" src="https://user-images.githubusercontent.com/35755724/5527923

[2019-03-31 15:16] Malacath92 commented on #45
Does this happen for any shader for you? If not, can you produce a minimum working example.
Which platform are you on?
Which version of VS Code are you running?

[2019-04-04 09:25] edap commented on #45
This is also happening to me. Any shader has the same output. Even a dummy:

[code]

Produce the same result as @ianacaburian was posting.

[2019-04-06 05:26] uniformfake commented on #45
I have the same symptoms.

I am on Mac0S Mojave 10.14.4 / VSCode 1.33

[2019-04-06 06:10] nickkuk commented on #45
Ubuntu Linux / VSCode 1.33 - the same.

[2019-04-07 08:09] Malacath-92 commented on #45
This is a bummer. Presumably the last version, which did some major refactoring introduced a bug. I will invest some time looking at some Linux I have available to see what's happening. Unfortunately I don't have any access to a Mac so that's a bit difficult for me to fix, we can only hope that the issues on Linux are the same as the Mac ones  😅
Otherwise, @stevensona do you have the possibility t

[2019-04-07 10:05] Malacath-92 commented on #45
I think the issue is only a path issue that we didn't handle correctly. If you have a chance to test #46 it would be greatly appreciated. I tested on Ubuntu 18.10, though didn't have WebGL available. But it seemed the core issue, which was that the WebView wasn't able to load resources, is fixed at least on Linux systems, presumably also on MacOS.

[2019-04-07 18:16] Malacath-92 commented on #45
@ianacaburian This change is now live, let us know if it is fixed now or not.

[2019-04-07 21:12] ianacaburian commented on #45
Hey guys, I tested the new version 0.82 and still had the same problem. So I thought I'll try updating VS Code. It was already up to date but it gave me a message "Unable to perform update on read-only volume." My app was still located in a folder other than Applications. After moving VS Code to Applications, the extension works fine now. So a bit inconclusive as to whether the new commits fixed a

[2019-04-08 05:38] Malacath-92 commented on #45
Interesting 😄
Can some one else see if the issue is fixed with the newest version?
@uniformfake @edap @nickkuk

[2019-04-08 06:18] nickkuk commented on #45
@Malacath-92, thanks! Shader works now, but textures don't load without any warnings.
I tried both
[code]
and .vscode/settings.json with
[code]

[2019-04-09 07:27] Malacath-92 commented on #45
It looks like I have some commits that didn't make it into the PR and should fix this. I'll make a new PR as soon as I get home.

[2019-04-11 05:45] nickkuk commented on #45
@Malacath-92, textures work in 0.8.3 now. Thanks!

[2019-04-15 15:57] #45 closed

[2019-05-07 19:33] miccall opened #49 "Improve documentation around "includes" feature"
include other file as common function

[2019-05-07 23:52] stevensona commented on #49
Just to clarify--you'd like to add something like `#include file://common.glsl` to the top of a shader which inserts the contents of said `common.glsl` into the top of the shader before compiling it?

[2019-05-08 22:06] domske opened #50 "Restart of VS Code is required to reset the preview with the current shader file."
Restart of VS Code is required to reset the preview with the current shader file.
If I open the shader preview with a working shader (no errors), it's not possible to open another glsl-file for the preview. The preview still shows the first shader.

Reproduce:
1. Open a glsl-file.
2. Show preview tab.
3. Change the file / Switch to another file.

Result: The preview does not switch to the selected

[2019-05-09 05:45] Malacath-92 commented on #50
Can you check your settings and see if "shader-toy.reloadOnEditTextDelay" is set to "false" . In the GUI for settings you will find this under Extensions->Shader-Toy->Reload On Change Editor.
If it is set to false, try setting it to true and see if at least half of your problem. I will check if I can reproduce the issue regarding re-running the command.

[2019-05-09 07:08] domske commented on #50
The option "Reload On Change Editor" should be set to true. Thanks for the hint.
Maybe this option should by default set to `true`?

[code]

[2019-05-09 07:10] Malacath-92 commented on #50
Possibly the option should be set to true, we can think about that for the next release.

Reopening because the issue of not being able to load another file explicitly still exists.

[2019-05-09 07:42] Malacath-92 commented on #50
I'm not sure I know what you mean.
- If you close the text-editor-tab and reopen it, the content of your shader would not change, so the preview should not need to reload.
- If you close the preview-tab and reopen it via the command, then the corresponding shader of your active editor should be previewed.
- If you rerun the command, irrespective of the current previewed shader, then the correspond

[2019-05-23 23:53] stevensona commented on #17
0.8.4 (just released) adds experimental support for this #48 Thanks to @Malacath-92

[2019-05-25 06:13] Malacath-92 commented on #50
Should be fixed by #48

[2019-05-25 06:13] #50 closed

[2019-05-25 06:14] Malacath-92 commented on #49
We added instructions for includes in #48

[2019-05-25 06:14] #49 closed

[2019-05-27 08:13] AdamWang1102 opened #51 "Version 0.8.4 on Mac 10.14.4 doesn't work."
After upgrade to 0.8.4 my Shadertoy Preview doesn't work and always prompt me "Can't found shader-toy command" even I **reinstall the extension** and **reinstall VSCode**. When I downgrade to 0.8.3 extension works fine.

My OS is Mac 10.14.4 and VSCode version is 1.34.0
![image](https://user-images.githubusercontent.com/5875393/58405375-dd243500-8099-11e9-849e-d92d5c25b377.png)
How can I fix this?

[2019-05-27 08:24] Malacath-92 commented on #51
Can confirm, this also happens on Windows.
@stevensona Could this be related to dependencies not being installed correctly?

[2019-05-27 08:36] Malacath-92 commented on #51
@stevensona Yes, quite surely this is the problem. Some dependencies should be move from "devDependencies" to "dependencies". Quite honestly I have no idea how to test which dependencies need to be moved. Do you know how to go about this?
@AdamWang1102 Manually running `npm install` inside ".vscode\extensions\stevensona.shader-toy-0.8.4\" will fix the issue temporarily. I don't know where to find

[2019-05-27 14:46] stevensona commented on #51
It is (most likely) the new dependencies "mime" and "compare-versions".

[2019-05-27 19:10] Malacath-92 commented on #51
Can confirm, it's those two.

[2019-05-27 21:01] stevensona commented on #51
Reopening until I can release new version.

[2019-05-28 02:02] AdamWang1102 commented on #51
@Malacath-92 @stevensona Thank you guys, after run ```npm install ```  0.8.4 works fine now. By the way in Mac the path is `~/.vscode/extensions/stevensona.shader-toy-0.8.4`

[2019-05-29 00:35] stevensona commented on #51
Thanks everyone 😁

[2019-05-29 00:35] #51 closed

[2019-06-02 14:09] Trass3r opened #53 "improve ShaderToy mode detection"
I'm using the following boilerplate code to make shaders compatible with ShaderToy and standard compilers (that includes VSCode extensions like Shaderc GLSL Linter):
[code]
This works quite nicely but there are 2 issues:
* Had to change `main()` to `main(void)`, otherwise your regex would pick it up and not generate its own main. Should be documented or improved (better preprocessor handling).
* I

[2019-06-03 07:12] Malacath-92 commented on #53
Thanks for bringing up these issues  👍

Considering your first point. Imho it is far beyond the scope of this extension to implement a real preprocessor rather than the stupid string finding thing we have. The code inserted before compilation, not just by us, might contain more preprocessor directives that we can't really know about. Just speculating here though, I'd need to read more about this s

[2019-06-03 07:52] Trass3r commented on #53
1. Yes I agree.
2. Wouldn't it be easier and also necessary to replace the version directive? For WebGL2 you probably need `300 es` right? While the linter needs `310 es` at least to generate SPIR-V from ES at all and `320 es` or `440` for all the features like input blocks.

[2019-06-03 17:25] Trass3r opened #54 "no error message if texture could not be loaded"
Like when just using `#iChannel0 "t.png"` or if there's a spelling mistake.
Texture access just returns zero values.

[2019-06-04 12:21] yafacex opened #55 "Expose widgets(slider, x-y, color picker) for graphical control of shader inputs/uniforms"
Is it hard to export uniforms(float,vec2,vec3) as 1d-slider or 2d-position-picker or 3d-color-picker  for easy edit?

[2019-06-04 18:42] Malacath-92 commented on #53
Then I'll fix that for the next version

Quite honestly I wasn't quite sure what versions are supported (or necessary) for WebGl and WebGL2, I wanted to take a look at the specifications when I have more time on the weekend. If a user provided `#version` is ignored/replaced, it sounds like something the user should be told. So maybe if this is how it will work a message should be displayed (that c

[2019-06-04 19:08] Trass3r commented on #53
Unfortunately only up to `300 es`.

Maybe some squiggles in the editor.

It would have to be a quite old VSCode version to not support WebGL2.

[2019-06-04 19:09] Malacath-92 commented on #54
Thanks for bringing that to our attention. The issue started when we moved to using `THREE.TextureLoader`. However it's an easy fix to just pass an error callback to the `load()` function. I will fix it in a PR.

[2019-06-04 19:12] Malacath-92 commented on #53
If that's both WebGL and WebGL2 then it's simple to do though.

Good idea again, I'll take a look.

Risking to sound like an idiot here, but can't that be dependent on drivers rather than just VSCode? There's no question for VSCode supporting it because we require a version new enough for using WebView already.

[2019-06-04 19:17] Malacath-92 commented on #55
It's a feature I've been thinking about for quite a while, but I still don't know how much work it actually is. Mainly because a large part of it is actually writing the interface, which I am least proficient in, out of the disciplines this extension needs to work. Regarding the "backend" I am quite confident this is possible to do.
@stevensona do you have any input on this, regarding the feasibil

[2019-06-04 19:22] Trass3r commented on #53
WebGL is 100 only.

I'm not sure if that can actually happen, Chromium uses ANGLE to translate it to DirectX iirc so it should be well supported.

[2019-06-04 19:34] stevensona commented on #55
Definitely doable.

That said, there are some design/ux questions that would need to be answered first.

[2019-06-04 19:39] Malacath-92 commented on #53
And what happens on Linux and OSx?

[2019-06-04 19:40] Malacath-92 commented on #55
That's what I expected. I'll try to collect my thoughts on it and maybe get some examples.

[2019-06-04 19:45] Trass3r commented on #53
Yeah it just occurred to me it's cross-platform after all 😅

[2019-06-08 10:19] Malacath-92 commented on #55
The extension [glsl-canvas](https://github.com/actarian/vscode-glsl-canvas) does something similar.
![image](https://user-images.githubusercontent.com/30243536/59145660-36b82800-89e7-11e9-8260-e7cf8f89fbc2.png)

 - They expose simply N sliders for N-dimensional objects and let the user modify those. This could be much nicer with position-, color- and color-alpha-pickers.
 - To use the user defined

[2019-06-08 12:52] Malacath-92 commented on #53
I added a couple lines to ignore the version directive, it's shown by green squiggles that they are ignored.
For now I avoided inserting version directives because it caused some issues to do naïvely.
Also documented the case of `void main(void)`
Lastly add `iGlobalFrame` by your suggestion.

[2019-06-10 12:39] #54 closed

[2019-06-10 12:39] #53 closed

[2019-06-15 06:51] villain749 opened #57 "missing variable "iGlobalTime" recently"
As of the last few weeks ,  June 2019, I noticed none of my shaders work. They all complain that the variable "iGlobalTime" is not defined.
I am using the 64 bit version on Windows 10.
Any help would be most welcomed
Thanks,
sj

[2019-06-15 07:39] Malacath-92 commented on #57
This is an embarrassing type on my part  😢
In the meantime, can you use `iTime` or the following?
[code]

@stevensona It's gonna take you five seconds to fix this and I won't have the chance for it r/n.
https://github.com/stevensona/shader-toy/blob/a9185ef42c0e5453a555860e8cf30f0ec99cad00/src/webviewcontentprovider.ts#L46-L47

[2019-06-15 16:02] villain749 commented on #57
This fix worked perfectly, Thank you.
Since you people probably don't get enough credit I would like to heap some praise on you. At my previous job we were not allowed internet access due to MPAA regulations.. so no ShaderToy. Your software gave me a canvas to test out new ideas, and even show my superiors a visual prototype of what I was planning to do next. You made my life so much easier. Thank

[2019-06-15 17:53] stevensona commented on #57
Okay this one is fixed and released.

Thank you @villain749 for your kind words. I am stoked to see that this thing is used and beneficial to people. @Malacath-92 does all of the work around here, and I'm super glad he's on the team he does a great job. Thanks! 😁

[2019-06-15 17:53] #57 closed

[2019-06-16 12:59] Malacath-92 commented on #57
I can only agree with @stevensona, I'm really happy that people are appreciating the work we do here  😃

[2019-06-19 12:05] yafacex opened #58 "Is buffer write supported?"
https://www.shadertoy.com/view/ldyfDG

[bufferA.glsl.txt](https://github.com/stevensona/shader-toy/files/3305968/bufferA.glsl.txt)

it reports:
“GLSL Preview”: Maximum call stack size exceeded。

[2019-06-19 12:22] Malacath-92 commented on #58
If you want to feedback into the same buffer use the "target" self. Also if you are on the newest version I would suggest you to use the more standard syntax
```#iChannel0 "file:\\self"```
The way you are doing it is deprecated and will be removed eventually. Presumably in version 1.0

[2019-06-19 18:56] Malacath-92 commented on #58
I tested your shader locally using the above line of code. The result is as expected, compared to the online version. But I noticed that the screenshot function seems to not handle this shader very well, so that is a new todo  :)
![shadertoy](https://user-images.githubusercontent.com/30243536/59792444-809cea00-92d4-11e9-9d73-789cf9e16cf4.png)

[2019-06-20 07:21] yafacex commented on #58
I have tried what you suggest.But still not work.(Vscode Version 1.35.1)In Developer console.I see errors as below:

(node:5684) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
ERR Method not implemented.: Error: Method not implemented.
	at GLSLLintingProvider.provideCo

[2019-06-20 07:26] Malacath-92 commented on #58
Wow, I have never seen these kinds of error messages. What system are you running on?

[2019-06-20 07:34] Malacath-92 commented on #58
@yafacex Are you sure this is our issue? I just realized the path specified is part of the `glsllint` extension. Try disabling that extension and see if it works then.
If it does, try reenabling it and wrapping your channel definitions inside and ifdef like so:
[code]

[2019-06-20 08:36] yafacex commented on #58
Still not work.I tried another https://www.shadertoy.com/view/llBBRz . It just ouputs blank white.I got some openGL errors.
[bufferA2.glsl.txt](https://github.com/stevensona/shader-toy/files/3309512/bufferA2.glsl.txt)

[Embedded Page] [.Offscreen-For-WebGL-00000000058694B0]GL ERROR :GL_INVALID_FRAMEBUFFER_OPERATION : glDrawArrays: framebuffer incomplete
workbench.main.js:3551 [Embedded Page] [.Off

[2019-06-20 08:52] yafacex commented on #58
I tried a simple one .It also outputs these errors,but result is right.I will test more later...

[2019-06-20 09:07] Malacath-92 commented on #58
This outputs plain white for me on the online version as well. So I'm not too surprised.

The other problems are _only_ warnings. I can look into them, but they shouldn't cause these issues.

[2019-06-20 12:43] yafacex commented on #58
I'm sorry for that.I put three examples here in zip file : main1.glsl , main2.glsl,  main3.glsl. All use buffer feature.Only main1.glsl works fine.The shadertoy link address is at top of the each file.Maybe I write something wrong?
[shadertoy.zip](https://github.com/stevensona/shader-toy/files/3310392/shadertoy.zip)

[2019-06-21 10:08] Malacath-92 commented on #58
The third shader is only a problem of us having the first frame on `iFrame == 1` instead of `iFrame == 0`, if you thus rewrite the shader to test against that instead of `iFrame < 1` it will work.
The second shader requires the same treatment, but it also seems to proc a bug in the extension, I will take a good look at that.

[2019-06-21 10:09] Malacath-92 opened #59 "iFrame should start at 0 instead of 1"
This change breaks some shaders when copied from shadertoy.com, particularly everything that does a first-frame-setup will not work.

[2019-06-21 16:04] Malacath-92 commented on #58
With the second example, some of the inputs are wrong, i.e. not corresponding to the same shaders as they do on the online version, which you can fix yourself.
Then the noise texture used for some randomness in the particles is missing, which causes some unexpected behavior, so for the time being I just disabled that line.
Most importantly though, the extension bugs out on circular dependencies of

[2019-06-21 16:08] Malacath-92 commented on #58
Thanks for opening this issue @yafacex
Those were some of the most complex shaders this extension has seen in my testing, so it helped a lot  😃

[2019-06-21 16:24] #59 closed

[2019-06-22 21:06] tomorrowevening opened #61 "Texture setting support"
Adding support for the channel's filter & wrap modes would be fantastic 👍

[2019-06-23 08:55] Malacath-92 commented on #61
Yes, I agree this would be a good feature. I have difficulties though imagining a good UX for this, considering we try to keep all setup contained in the shader. A couple of possibilities:
 - Specify filter and/or wrap mode with the definition of the channel, e.g.
[code]
 - Specify filter and/or wrap separatedly from the channel definition:
[code]

I like option 1 because there are libraries readi

[2019-06-23 08:56] Malacath-92 commented on #18
Closing because this is available in the newest version.

[2019-06-23 08:56] #18 closed

[2019-06-24 23:26] tomorrowevening commented on #61
Yep! Completely agree. I prefer something similar to Option 2 for the sake of being able to quickly update settings without breaking the compiler. I considered using structs for a moment, but that defeats why the channels are defined in the first place... so, whatever you prefer :)

[2019-06-27 20:08] bernief1 opened #62 "support for texture arrays, MRT, integer textures, image load/store?"
hi, i just came across your project - nice!
i'm currently working on something similar to help me with my lightmapping / path tracing research. i'd be interested in collaborating. here's the list of features beyond what ShaderToy supports that i'm currently supporting:

texture arrays
volume textures
multiple rendertargets
up to 32 texture inputs per pass
arbitrary texture resolutions
all GPU-supp

[2019-06-28 04:38] leidd opened #63 "Audio input not work with Visual Code 1.35.1"
I had update my Visual Code to 1.35.1, and update the Shader Toy plugin to 0.8.8,
and then I open the audio input setting, put the mp3 to the right place(if path is not correct, it will notice what went wrong),but when i preview with the shader, the audio input  channel still not work, and has none error or notice. From the issue i know it added from 0.8.4, so if i want to  experience, What shall

[2019-06-28 14:02] stevensona commented on #63
Have you checked the "Enable Audio Input" setting?

[2019-06-28 14:05] stevensona commented on #62
@bernief1 Is your project public and/or open-source?

[2019-06-28 20:41] bernief1 commented on #62
I threw it on github (I don't normally use github so forgive me if there
are any issues).
You will need two repositories to compile:

https://github.com/bernief1/common
https://github.com/bernief1/shader_toy_player

And you will need to copy the following dll to somewhere in your path (e.g.
C:\Windows)

*common\GraphicsTools\external\glut\freeglut\bin\x64\freeglut.dll*
Then, assuming you have visu

[2019-06-29 11:12] Malacath-92 commented on #63
Audio input works for me.

If you have audio input disabled it should emit a warning when you use audio input. But it's worth checking that you do have it enabled for sure.
If it is enabled and not working, can you try executing the "Developer: Open Webview Developer Tools" (on Windows pressing Ctrl-Shift-P, start typing the command and select it when it appears). see if there is any pertinent inf

[2019-06-29 11:47] Malacath-92 commented on #62
You're missing some libraries in your repo, so I can't actually build it without searching for the right versions myself.

Regardless of that, it sounds like you have a set of really nice features. However I don't see how the projects can benefit from each other. The fact alone that one project is written in TypeScript/HTML and the other is written in C++ makes most efforts to port features very n

[2019-07-01 17:01] bernief1 commented on #62
Sure, I'd be interested in help cleaning up the repo so that it's more
usable. I have little experience sharing code outside of the game projects
I've worked on.

First off - which libraries am I missing? Besides OpenGL, the project
depends on FreeImage, GLUT (freeglut), and GLEW. All of these should be in
the *common\GraphicsTools\external\ *directory (which should be parallel to
the *shader_toy\

[2019-07-01 17:06] bernief1 commented on #62
Just to clarify .. the files should be located as follows (this is a subset
of the actual file list for illustration only):
(C:\dev\projects\ is where I have my projects but of course this can be
anything - all file paths are relative)

C:\dev\projects\common\common\common.h
C:\dev\projects\common\GraphicsTools\external\FreeImage\FreeImage.h
C:\dev\projects\common\GraphicsTools\external\FreeImage\

[2019-07-02 18:35] Malacath-92 commented on #62
In particular I fail linking against the static libraries for FreeImage 'GraphicsTools/external/FreeImage/x64/FreeImage2017Lib.lib'

[2019-07-02 21:20] bernief1 commented on #62
You fail because the file doesn't exist in the correct location? It's in my
repo -  https://github.com/bernief1/common
Did you check that the file locations are correct? In the last email I
sent, I gave a bunch of file location examples.

I apologize for any difficulties getting my repro to compile - I'm not used
to sharing my code. I promise you that all the libraries are there in the
two repos.

[2019-07-03 05:55] Malacath-92 commented on #62
No, there is no static library for FreeImage in your repo. It should be in [this](https://github.com/bernief1/common/tree/master/GraphicsTools/external/FreeImage) folder

[2019-07-03 13:45] bernief1 commented on #62
Ah - my mistake! I'm sorry I'm not used to github. When I try to copy the
files over it complains that they are over 25MB.

I've zipped up both the shader_toy and common directories and uploaded them
to cloud storage here:
https://www.amazon.com/clouddrive/share/jBVV3yA1PlkWSTNGvkeneBJfSbcniLz48j0oQR5vwqS

On Tue, Jul 2, 2019 at 10:55 PM Malacath-92 <notifications@github.com>
wrote:

[2019-07-07 04:44] shengsword opened #64 "is it possible to support glslify in this great package?"

[2019-07-07 18:27] Malacath-92 commented on #58
Closing this since @yafacex didn't report any more issues.

[2019-07-07 18:27] #58 closed

[2019-07-07 18:28] Malacath-92 commented on #63
@leidd can you check what we mentioned in our two replies above? Otherwise we will have to close the issue since we have no information to go on.

[2019-07-07 18:29] Malacath-92 commented on #64
Looks feasible, I will take a look at it as soon as I can.

[2019-07-10 06:50] leidd commented on #63
The audio input setting had enabled,
![image](https://user-images.githubusercontent.com/8455033/60945912-6b3d3d80-a31f-11e9-9d84-f682e6f9c22c.png)
![image](https://user-images.githubusercontent.com/8455033/60945942-8314c180-a31f-11e9-9e5f-f976c45f6d55.png)
And then I Open Webview Developer Tools, it show errors
![image](https://user-images.githubusercontent.com/8455033/60946854-e69fee80-a321-11e9-

[2019-07-10 07:45] Malacath-92 commented on #63
@leidd this is weird. As long as you're using a local file I don't see why this would happen. Is it possible for you to upload the file so I can do some more debugging.

[2019-07-10 07:56] leidd commented on #63
I used the mp3 in this project, it shows the same error, My operating system is MacOS, is there a problem? And the project struct like this
![image](https://user-images.githubusercontent.com/8455033/60951217-3b943280-a32b-11e9-9de4-ea8dd4e52ffd.png)

[2019-07-10 08:29] Malacath-92 commented on #63
It could be a Mac OS specific bug, but I have no way of testing that right now. I'll try to recreate your setup to see if there might be a more general issue.

[2019-07-10 08:50] leidd commented on #63
Thanks, I will continue to focus on this

[2019-07-14 16:48] Malacath-92 commented on #64
Looks like supporting it is quite simple, however it doesn't support mapping lines from post-transform to pre-transform. So I'll disable it by default and remove any of the line information from the error output if it is enabled, which is a shame. I'll consider opening an issue on the glslify page in the future.

[2019-07-14 17:08] Malacath-92 commented on #63
I now have the same issues on my windows machine. Maybe last time I tried I didn't have an updated VSCode version. I'm kinda stumped how to prevent this problem though.

[2019-07-15 13:10] shengsword commented on #64
Wow, it still be very useful if glslify is working in shader-toy though a little deficiency there

[2019-07-15 17:54] shengsword opened #65 "Recursive includes are not supported ?"
Does shader-toy only support one layer include file?

[2019-07-18 03:48] leidd commented on #63
OK，I can just wait for your update, that's what i can do now ^_^

[2019-07-18 13:06] Malacath-92 commented on #65
Could be true, though that was certainly not the intention. I'll take a look at it.
On a side note, we should probably start using real source mapping, because for now we require that includes and input files are defined before any code to ensure that line numbers are correct.

[2019-07-21 03:27] anon176 opened #66 "Very high CPU usage compared to Shadertoy"
On my desktop this is not really a problem but on my laptop with an integrated GPU, the CPU usage goes up to 50%+ on all threads compared to ~15% on the regular Shadertoy website using the same very basic shader code.

I don't know if this is because of a limitation by VSCode or something?

[2019-07-21 10:45] Malacath-92 commented on #66
I don't know much about how integrated GPUs work, but I would assume that in this context GPU usage equates CPU usage. Correct me if I'm wrong.

I know the extension uses quite a lot of GPU time, depending on the shaders that are used. From my superficial investigation that might be related to THREE.js. The online version of shadertoy does not use the THREE.js framework, but afaik does all the web

[2019-07-22 02:42] Kashouryo opened #67 "[proposal] Add full screen support"
This is a very impressive plugin, and I had a lot of fun with it! However, if the preview has the full-screen feature, it can even be used as a screen saver.

[2019-08-01 13:14] Malacath-92 commented on #63
This issue definitely was introduced in the June update of VSCode, I will try to mention the issue on their repo.

[2019-08-01 16:43] Malacath-92 commented on #63
Refer to [this issue](https://github.com/microsoft/vscode/issues/78333)
It looks like it is a bug with the current bundled chrome version. I tested the exploration build, which bundles electron 6, where I do not experience the issue anymore. I'm sorry about this, but from what I can see there is nothing we can do on our side to work around this.

[2019-08-03 22:13] Malacath-92 commented on #67
I took a closer look at this, and from what I can see there is no good way of doing this with the current bundled version of electron. The associated chrome version is quite old and doesn't support the standard web API for fullscreen and the webkit API doesn't work properly from my tests. And even if that is based on my mistake, I think it makes more sense to wait for the next bump in the electron

[2019-08-14 01:08] #61 closed

[2019-08-14 01:08] #64 closed

[2019-08-14 01:08] #65 closed

[2019-08-14 17:13] tomorrowevening commented on #61
🙌

[2019-08-19 13:23] lance-loong opened #69 "iChannel0 use file://glsl error"
use glsl file to iChannel, not show every image

[2019-08-20 07:57] yafacex opened #70 "custom png size when save?"
I use it to generate some noise texture,but they all save as 256x256,which is too small to use.

[2019-08-25 13:10] Malacath-92 commented on #70
I was under the impression, that the screenshot saved will be the same resolution as the tab in VSCode. I understand this might not be sufficient for you still, so I will take a look at it.

[2019-08-25 13:25] Malacath-92 commented on #69
Can you be more clear what you mean and possibly give some code examples? I unfortunately don't understand what you mean.

[2019-08-26 06:28] nickkuk commented on #69
If I understand correctly, I have the same behavior. The following example works in 0.8.8, but doesn't work in 0.8.9:

buffer0.glsl:
[code]

main.glsl:
[code]

[2019-08-26 07:49] lance-loong commented on #69
yes,nickkuk is right.

[2019-08-26 09:23] Malacath-92 commented on #69
Alright, I see that that's not the wanted behaviour. I'll take a look when I get home.

[2019-08-27 01:48] lance-loong commented on #69
thank very much

[2019-08-29 10:01] lizhiqi-coder commented on #69
I have the same behavior , use glsl file to iChannel, not work

[2019-09-01 13:33] #69 closed

[2019-09-11 06:19] julee opened #72 "iChannelResolution support"
Shadertoy.com use pre-defined uniform:
uniform vec3 iChannelResolution[4]
for texture image size ino. Using them in shader-toy seems not work.

[2019-09-11 07:25] Malacath-92 commented on #72
That's correct, the uniform is not currently supported. All supported uniforms are listed in the readme.
I'll look into adding support for these uniforms in a future version.

[2019-10-09 03:03] shengsword opened #73 "Can shader-toy support relative local require for glslify?"
[code]
 I think local glslify module is useful to develop daily, thus it'll be very convinent if shadertoy support it. thanks!

[2019-10-13 08:35] Malacath-92 commented on #73
I don't know how glslify resolves paths and I don't think it's reasonable for us to preprocess the glslify lines. How glslify works with glsl files directly is something I don't know either right now.
For glslify packages, you can look at the demo we have, you can see that it can work without absolute paths. Simply use `npm install` inside your project and you can use the module name from there.

[2019-10-15 22:58] #72 closed

[2019-10-16 22:31] tenkaisynapse opened #75 "Video and Webcam input support"
Is there a way to make iChannels use video files or webcam inputs as they do on the web based iChannel?

[2019-10-17 05:51] Malacath-92 commented on #75
No, it's not currently supported. I'd wager a guess that it will be difficult or impossible to do in VSCode, but it's nothing we investigated yet.

[2019-10-23 08:37] Malacath-92 commented on #75
See https://github.com/microsoft/vscode/issues/54097
It is pretty unlikely that we will support videos as input because of this.

[2019-10-27 01:02] matcool opened #76 "Type mismatch on forceAspectRatio"
I'm trying to force the aspect ratio to be 16:9 (with `"shader-toy.forceAspectRatio": [16, 9]`), but I get the warning
[code]
Edit: Shader still works fine, this is a very minor issue

[2019-10-27 10:42] Malacath-92 commented on #76
I assume you mean the error reported in the `settings.json`? I've noticed this for a while but always assumed there is some error in the json parsing, since it still works. It does also work for you, right?
Either way, I think it is better that I take a closer look to see if I can fix this.

[2019-10-31 21:46] #70 closed

[2019-10-31 21:46] #76 closed

[2019-11-03 19:27] Malacath-92 commented on #55
[dat.gui](https://github.com/dataarts/dat.gui) looks exactly like what we need. It also looks like that's what glsl-canvas is using, so it should be familiar/easy for users. I'll invest some time into this, unless you're already on it @stevensona

[2019-11-03 19:47] stevensona commented on #55
Oh, dat.gui is perfect! By all means, go ahead--I hadn't made much progress yet.

[2019-12-31 11:03] tosyu opened #79 "Relative path resolution when including files"
Hello,

I have encountered an issue with path resolution. The problem is as follows

I have my main.glsl fragment shader in the root folder and all my dependancies in deps folder

[code]

my `main.glsl` has a line

[code]

and my `dep1.glsl` has a line

[code]

and I get an error that dep2.glsl cannot be found, but when I prepend "./deps" to the path so the line in `dep1.glsl` looks like

[code]

[2020-01-02 11:04] Malacath-92 commented on #79
Thanks for reporting the issue and sorry for the slow reply. I blame the holidays  :tongue:
I'm currently in the process of completely rewriting the parsing of glsl files and have noticed the issue as well. My plan was to continue supporting current behaviour, i.e. looking for files in open directories, but prioritising files found relative to the current file. I'll also remove the necessity of in

[2020-01-02 14:42] tosyu commented on #79
Well, the other issue I noticed is that changing depandancies does not refresh the preview, but again, for me it's a minor inconvenience :)

[2020-01-02 16:36] Malacath-92 commented on #79
It's still a relevant problem, so should be fixed imho. I'll create a separate issue for it  :)

[2020-01-02 16:39] Malacath-92 opened #80 "Shader preview does not reload when dependencies are changed"
Simply if a shader is included in the shader that is rendered, changing the included file will not reload the preview.
The same might be true for buffer dependencies, though I had no chance to test that yet.

[2020-01-02 16:42] Malacath-92 commented on #55
@yafacex have you had any chance to test the current experimental support for custom uniforms?

[2020-01-02 16:47] tosyu commented on #79
Thank you :)

[2020-01-05 09:52] markus-wa commented on #63
I'm still having this issue on the latest VS Code version. It seems it wasn't fixed by https://github.com/microsoft/vscode/issues/78333.

Can anyone confirm that it works for them on VS Code 1.41.1?

[2020-01-06 22:44] Malacath-92 commented on #63
This is on my todo list after our next release. But right now it looks to me like the information I was given was incorrect/incomplete and the insiders build ships with a different version of Electron than the Insiders build that I was instructed to use, namely ffmpeg was stripped from the main release. Also on the most recent Insiders build the audio input does not work, so I assume they unified

[2020-01-06 22:53] markus-wa commented on #63
Unfortunate to hear. But thanks for the update 🙂

[2020-01-06 23:21] stevensona commented on #80
@Malacath-92 Can you please shoot me an email on my profile?

[2020-01-09 15:04] ChrisProlls commented on #63
Any news about this ? The issue in the VS Code repo seems closed and I can't ask for news ...

[2020-01-11 15:24] miccall opened #81 "sample cubemap"
same as add a cubemap in shadertoy.com

[2020-01-11 15:34] Malacath-92 commented on #63
@ChrisProlls See my post from last week, I am under the impression now that VSCode will not support this anytime soon, if ever. I will investigate after our next release.

[2020-01-11 15:36] Malacath-92 commented on #81
Thanks for your input. I will investigate this in the future, but no work has been done towards it so far.

[2020-01-12 15:16] #79 closed

[2020-01-12 15:16] #80 closed

[2020-01-12 15:21] stevensona opened #83 "Bundle extension"
Just making a note that when publishing extension we receive the following message:

[2020-01-12 18:10] Malacath-92 commented on #83
Huh, that sounds relevant  :D
I'll take a look at that when I have time this week.

[2020-02-25 15:12] oskycar opened #85 "Failed loading texture file"
#iChannel0 "file://tmp/1.png"
#iChannel1 "file://tmp/2.png"

on macos 10.15.2 in vscode 1.42.1 , I got such error:

"  Failed loading texture file vscode-resource:/tmp/2.png"

I had tried other image format ,such as  1.jpg  .  but got the same error;

[2020-03-04 07:37] Malacath-92 commented on #85
Excuse my absence for the past week.

I assume something is wrong with path resolution on MacOS, however if the extension fails locating a texture it should certainly give some more information about it, which if I understand you correctly it doesn't. I'll investigate that.

However, I have no way of  testing MacOS. So unless you want to try debugging the extension yourself @oskycar I can't help y

[2020-03-06 01:21] stevensona commented on #85
Just seeing this now. I will try to reproduce tomorrow.

[2020-03-07 07:45] Cipheroid opened #86 "Unable to set filters for images due to error"
Expected texture parameter keyword after "::" but got "MaxFilter"
#iChannel0::MaxFilter "Nearest"

[2020-03-07 19:06] Malacath-92 commented on #86
It looks like the setting is called "MagFilter" instead of "MaxFilter", I will fix that in the readme for the next release.

[2020-03-07 19:07] Malacath-92 commented on #86
I will also clarify in the error message what are the valid options.
@Cipheroid For now you are the only one that knows that this is the correct way to do it  :P
[code]

[2020-03-08 16:29] stevensona commented on #85
I am unable to reproduce this. @oskycar in VS Code, are you opening the directory containing your GLSL program? The extension uses the workspace path to load files, which is set by opening a "directory".

[2020-03-08 22:35] Malacath-92 commented on #85
@stevensona: files relative to a shader are also supported when not opening a folder/workspace. If that does not work, then it is a bug. I'll make sure tomorrow tha6 this is not broken on other platforms. Though if it is, it looks at least like a temporary workaround would be to open a workspace.

[2020-03-13 17:31] Malacath-92 commented on #85
@stevensona @oskycar Did either of you test this again? Files relative to the shader work for me on Windows, but it's still very much possible that they don't work on MacOS.

[2020-03-13 17:35] Malacath-92 commented on #63
Closing this, since it is not within the scope of this extension. An export to a portable html file is now available, though most likely it's necessary to host a server locally in order to open the file in modern browsers (since they shouldn't allow reading local files that easily)

[2020-03-13 17:35] #63 closed

[2020-03-13 17:44] Malacath-92 opened #89 "Add tests to the extension"
The extension starts having enough features that a set of tests is appropriate.
I think some tests will need user interaction to be verified, but many modules could be tested automatically.
It would still be a significant amount of work, though worth it to prevent regression (which we have suffered from a couple of times in the past)

[2020-03-16 05:20] oskycar commented on #85
It did work on MacOS, when use relative path.

[2020-03-16 06:44] Malacath-92 commented on #85
So if it works, we can close this issue then?

[2020-03-16 12:07] oskycar commented on #85
so, does it meas that we cann't use absolute path on MacOS platform?
though I can open the file by cmd+click  the url.
we should add mentions in readme file.

[2020-03-16 13:42] Malacath-92 commented on #85
Huh, I might have misunderstood something here. Is your initial problem not with relative paths? Absolute paths should absolutely be supported, in fact they are given the highest priority out of the three possible ways to resolve a file path:
1) Check if file is found assuming user gave an absolute path,
2) check if file is found assuming user gave a path relative to the source file,
3) check if f

[2020-03-16 13:47] stevensona commented on #85
@oskycar the path `file://tmp/1.png` _looks_ like a relative path. Maybe try like so `file:///tmp/1.png` if there is a image at `/tmp/1.png`.

[2020-03-17 00:36] oskycar commented on #85
yes, I also try it like that  `file:///tmp/1.png`, and I'm sure I had copyed file to the tmp path;

today, I tried in many ways ,the bug is like this:
`
when my project path is at "/Users/xxx/project/shadertoy" ，it looks like shadertoy in vscode can only open file in this directory and subdirectories.

#iChannel0 "file:///tmp/1.jpg"   open failed
#iChannel0 "file:///Users/xxx/Desktop/1.jpg"  open

[2020-03-17 03:06] oskycar commented on #85
MacOS 10.15.2
VSCode   1.43.0
Shader Toy 0.10.2

[2020-03-17 07:08] Malacath-92 commented on #85
Thanks for the detailed report @oskycar :)
I can reproduce this, embarrassingly I never tested a scenario as you did when adding the absolute path feature. The issue here is that vscode is very strict with the rules of loading resources, hence the path that you see in the error starts with `vscode-resource:/`. It indicates to me that vscode found a file at that path, passed it to the Webview (the

[2020-03-20 21:59] #81 closed

[2020-03-20 21:59] #83 closed

[2020-03-20 21:59] #86 closed

[2020-03-20 23:40] #85 closed

[2020-03-20 23:40] Malacath-92 commented on #85
#88 should fix this

[2020-03-21 09:48] Malacath-92 commented on #73
Closing this, because after closer investigation this is neither possible nor a good idea. glslify is designed as a node.js style module system, so modules are installed with `npm install` and paths are resolved by glslify within a project folder, that's how it should be used.

[2020-03-21 09:48] #73 closed

[2020-03-21 09:50] Malacath-92 commented on #17
Closing this because what we have right now is as close as we can get with what vscode will officially support within a webview.

[2020-03-21 09:50] #17 closed

[2020-03-21 10:23] Malacath-92 commented on #67
Small update: With the newest version of VSC using the standardized fullscreen api just results in the VSC window to be fullscreen, not the webview itself. So this still doesn't look doable.

[2020-03-27 01:10] ostwilkens opened #90 "Preview tab takes focus every recompile if using #iChannel"
If I add `#iChannel0 "file://noise.png"` to my shader, the GLSL Preview tab takes focus whenever recompiling the shader.
This means any keyboard input causes loss of focus, rendering the feature unusable.
I have used channels before without a problem, so this is probably caused by a recent change to the plugin or to VS Code.

[2020-03-27 09:29] Malacath-92 commented on #90
That sounds like an issue deserving a hotfix. Thank you for bringing it to our attention  :)
I'll have a look when I'm done with work today

[2020-03-27 17:49] #90 closed

[2020-04-24 13:54] Itachi546 opened #92 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `shader-toy`
- Extension Version: `0.10.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\lenovo\stevensona.shader-toy-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-h

[2020-04-26 08:14] Malacath-92 commented on #92
Is it possible for you to link your cpuprofile.txt file?

[2020-04-26 08:32] Malacath-92 commented on #92
I tried to run a performance test myself and I didn't manage to get the extension to be unresponsive. So maybe you can also provide some context of what kind of shaders you were working with, how you were working and when the unresponsiveness happens.

[2020-04-30 20:36] jcyuan opened #93 "[BUG] iUniform parse error"
2 problems:

1, if you write some `vec4` `iUniform` type, it makes your shader stops from working, see the GUI panel, it has only the first uniform, and even there is no error at all! :
![image](https://user-images.githubusercontent.com/850854/80756048-77231600-8b64-11ea-9781-795d0f2dc452.png)

and if you remove all the `vec4` (in the red rectangle of the pic) or change them to `const`, other para

[2020-04-30 20:47] jcyuan commented on #93
ah right, `iUniform float abc = -0.5` error.

[2020-04-30 21:14] Malacath-92 commented on #93
Thanks for bringing up the bugs. But generally, please create separate issues for reporting multiple bugs.
Since this feature requires us to parse parts of the code ourselves it's very possible we just didn't cover all cases. So I'll check to parse floating point numbers correctly, covering all corner cases.
The issue with vec4 is less obvious, I'll see what I can do.
I'm happy to get issues repor

[2020-05-01 05:50] jcyuan commented on #93
@Malacath-92 ok sorry. next time will seperate each issues.

[2020-05-01 05:53] jcyuan opened #94 "[Feature Request] watch changes for included glsl file as well."
for example

![image](https://user-images.githubusercontent.com/850854/80785436-d576e580-8bb2-11ea-9172-aeb269c64072.png)

changes in `comm.glsl` better to repreview atutomatically, but I think only `save` action takes effect that's enough.

the main file which has `main` method is good enough now: repreview for every changes.

really great tool, i love it!

[2020-05-01 06:14] Malacath-92 commented on #94
If I understand you correctly then you could use a static glsl preview on main.glsl and this should already be supported.
With a dynamic preview you wouldn't be able to edit include files without causing those to be previewed (usually resulting in an error) anyways. And having a file change on disk, say because you have it open in another editor and are changing it there, won't result in any callb

[2020-05-01 06:38] jcyuan commented on #94
@Malacath-92 hi, sorry for the confusing, i mean:

the preview window is being updated when i modify the code in the `test.glsl` (the main entry file in the pic), this is good.

but when i modify in `comm.glsl` (test.glsl refers some methods in it), the preview does not update.

[2020-05-01 06:44] jcyuan opened #95 "[BUG] wrong value is displayed in the GUI panel"
![image](https://user-images.githubusercontent.com/850854/80787714-dbbc9000-8bb9-11ea-8e90-e3b159d1ab1e.png)

it seems the value has range in 0-255.
i know i can use `in { 0.0, 5.0 }` for float, but for `vec3/vec4` i don't know how to limit the range, or simply just use the original value the `vec3/vec4` have and don't multiply by 255?

[2020-05-01 06:54] Malacath-92 commented on #95
Back when we added this feature it was a restriction in dat.gui which we use to draw the gui. I will check if this has changed, but don't get your hopes up.

[2020-05-01 06:55] Malacath-92 commented on #94
How are you editing comm.glsl, without the preview trying to make that file compile automatically?

[2020-05-01 07:01] Malacath-92 commented on #94
Besides the fact that I just embarrassingly realized that static previews are not available on the current version due to an error on my part, they do what you want and that is essentially why they were created.
![shadertoy](https://user-images.githubusercontent.com/30243536/80788793-65546980-8b8a-11ea-9b9f-c63bbe9413fc.gif)

[2020-05-01 10:00] Malacath-92 commented on #94
@jcyuan when #96 goes through, please let me know if the static preview is sufficient for doing what you want.

[2020-05-01 13:19] jcyuan commented on #95
ok, thanks anyway~ :)

[2020-05-01 13:29] jcyuan commented on #94
looks great! i'll test later and let you know, thanks so much!

[2020-05-01 17:34] Malacath-92 commented on #94
@jcyuan don't test yet, my PR is still open  :)
So when a new version is deployed (the extension should notify you of that) you can check again

[2020-05-04 12:59] #93 closed

[2020-05-04 15:21] #92 closed

[2020-05-04 17:42] Malacath-92 commented on #92
@Itachi546 can you please explain why you closed this issue?

[2020-05-07 06:16] jcyuan commented on #94
it works just fine now~ thanks.

[2020-05-07 06:16] #94 closed

[2020-05-07 07:07] jcyuan commented on #95
hi, @Malacath-92
1, can we have a new option to specify the value is a color type? and by default it will be the type as how `vec4` does?
for example `vec3 hslAdjust = vec3(0.0, 2.1, 1.0)` on the dat.GUI it will have `hslAdjust.x`, `hslAdjust.y`, `hslAdjust.z`
and if you specify something like `vec3 hslAdjust = vec3(0.0, 2.1, 1.0) as color` then it will be a color option on the GUI?

2, can we add

[2020-05-07 16:49] Malacath-92 commented on #95
That'd both be possible:

1) not sure if it's a good idea to introduce a new keyword for this, but rather a new type. So it'd look like this
[code]

2) was something I wanted to do. Implicitly that's what we're forced to do for integer types, so only need to add a parsing for it. It's unclear how we would handle that though when the underlying types are integers.

[2020-05-08 03:19] jcyuan commented on #95
1, actually not sure what will people think, `vec3` is native type, but you have to learn `as xxx` new keyword, `color3` is good way but don't know if people don't like it. (i like this way)

2, for this situation I think `ceil(step)` for integer?

[2020-05-08 07:23] Malacath-92 commented on #95
1. I am heavily leaning towards introducing a type for this. It's clear that color3 has similar semantics to vec3, so this isn't an issue. And it is clear that only color3 is supported, as opposed to introducing `as color`, which doesn't make it clear that only vec3 is supported.

2. I think it's better to only allow signed integers in that case and present the user with an error otherwise

[2020-05-10 14:25] #95 closed

[2020-05-16 04:39] mjbvz opened #99 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-16 06:51] Malacath-92 commented on #99
Hi @mjbvz,
I am developing with vscode ^1.1.33 where this API was not available. Can you tell me from which version this api is available?

[2020-05-17 10:22] Malacath-92 commented on #89
Some tests are added for low level functionality, namely some parsing functionality.
But we should also add some sort of integration tests to make sure that correct type shaders are generated.

[2020-05-17 14:50] #99 closed

[2020-05-27 07:43] SteScheller opened #101 "Extension causes high cpu load when running preview with code that contains multiline comments"
Hi,

I encountered an issue when running the `Shader Toy: Show GLSL Preview` command with code that contains c-style multiline comments. Upon running the command, the editor becomes unresponsive to keyboard input in combination with the plugin *vscodevim*.

Here are the generated descriptions of the issue:

- Issue Type: `Performance`
- Extension Name: `shader-toy`
- Extension Version: `0.10.8`
-

[2020-05-27 07:47] Malacath-92 commented on #101
Huh, I thought I got all comment parsing problems last time. Will check this out later today.
Thanks for bringing it to our attention  :)

[2020-05-28 07:13] Malacath-92 commented on #101
As you suggested, this was a bug in parsing multi-line comments. You freaked out our naive strategy by putting a lot of asterisks in your comment  *shakes fist*
The new strategy should cover all cases (as per the language definition):
[code]
So this doesn't handle nested multi-line comments, but neither does the GLSL spec, so there's no harm done by us at lest.

[2020-05-28 09:31] SteScheller commented on #101
Thank you very much for taking care of it so quickly! I will look for the update and rethink my code comment behaviour :)

[2020-06-01 18:10] #101 closed

[2020-06-02 06:30] SteScheller commented on #101
Just tested it with the updated plugin and it worked fine now. Thank you!

[2020-06-16 01:03] 57ar7up opened #103 "Voxel Edges demo is wrong"
Something wrong with [this demo](https://www.shadertoy.com/view/4dfGzs).
OK, nevermind, it's related with iChannel0

[2020-06-16 01:19] #103 closed

[2020-06-16 06:53] Malacath-92 commented on #103
Please when you close an issue comment with the closing what solved it rather than editing the original post.
Im happy you were able to fix your problems to quickly though  😊

[2020-06-20 06:10] 57ar7up opened #104 "Can't create function with name 'saturate' (macro?)"
It's used as macro? Where and why?
Code -> error

1. `void saturate() {}` `',' : syntax error`
2. `void saturate(int a) {}` `'0.0' : syntax error`
3. `void saturate(int a, int b) {}` `'saturate' : Too many arguments for macro` `'{' : syntax error`
4. `saturate();` `'clamp' : syntax error`

[2020-06-21 01:09] 57ar7up opened #105 "Including file with same name"
Example:
file `1.glsl` can't include file `folder/1.glsl`

[2020-06-21 08:38] Malacath-92 commented on #104
[Three.js](https://github.com/mrdoob/three.js/blob/0950e5b6e8bceb520c154f45b5c240af45f0ed11/src/renderers/shaders/ShaderChunk/common.glsl.js#L11) defines `saturate(a) clamp( a, 0.0, 1.0 )` already, I'm not sure why, but there's nothing we can do as long as we use Three.js. It also defines some other variables, uniforms and functions that are presumably used in some of their shader models.
You can

[2020-06-21 10:26] Malacath-92 commented on #105
A fix for this is on its way.
Though I would still advise against this, it's kinda confusing and in any project I worked on it was considered bad practice to have multiple files with the same name. Not judging, just saying what I experienced  :)

[2020-06-21 10:27] Malacath-92 commented on #55
Closing this since we didn't receive any input to suggest that it's not sufficient. If someone wishes more features than what we currently have they should probably open a new issue anyways.

[2020-06-21 10:27] #55 closed

[2020-06-21 10:30] Malacath-92 commented on #62
Closing this since the conversation doesn't belong here, as mentioned previously.
@bernief1 I'm sorry this slipped my mind. If you are still interested in making your repo more open-source friendly just get in touch, I should have some time to help you.

[2020-06-21 10:30] #62 closed

[2020-06-21 11:14] 57ar7up commented on #105
Yeah, I can see, but I still think it's logically valid thing to do. Not in last case (discovered randomly), but generally my naming scheme is universal and repeating to the end. Probably will work bad with team

[2020-06-21 13:24] Malacath-92 commented on #105
Yeah, it's valid of course. Hence the fix in that PR  :)

[2020-06-22 01:31] 57ar7up opened #107 "Comments between 'mainImage' function name and body break compilation"
I don't need them, but it's not easy to find where error is
Not working:
[code]
[code]

[2020-06-22 07:57] Malacath-92 commented on #107
Thanks for bringing this up. Almost feels like you're fuzzing the extension with some human input  😄

In the section [Compatibility with Shadertoy.com](https://github.com/stevensona/shader-toy#compatibility-with-shadertoycom) it is explained how a valid `void mainImage` is found in source code

So from that it is not surprising that comments will ruin your day.

However, this is a leftover of the

[2020-06-22 17:15] 57ar7up commented on #107
Actually, there is much more to it, because following works on ShaderToy:
`#define mainImage(o,u)o=vec4(1.);`
And this
[code]
😄

[2020-06-25 01:16] #105 closed

[2020-08-04 20:08] alxklk opened #110 "Wrong attribution"
I was surprised to found my shader from https://www.shadertoy.com/view/XsVSzW among the demos of your shader-toy project for VS Code https://github.com/stevensona/shader-toy/blob/master/demos/plasma1.glsl with attribution to S.Guillitte.
As You can see, the sources are the same, if skip the attribution. Could you remove that wrong attribution?

[2020-08-05 07:11] Malacath-92 commented on #110
I'm super sorry, we should always link to the sources on shadertoy.com to make sure we give the right attribution. But I never made a pass to make sure that this is updated for our older examples.
Unfortunately I don't have any reliable access to push any changes until next week, so if this feels urgent to you I would encourage you to create a pull request with the attribution changes.
Otherwise I

[2020-08-10 08:27] Anyeos opened #111 "Default texture wrap mode set to clamp, not repeat as on shadertoy.com"
On an simple shadertoy.com example:
[code]
The texture just is repeated. But it is not the same case for the "GLSL Preview". The texture is only one time and get out of the screen :P

[2020-08-12 09:07] Malacath-92 commented on #111
Yes, in fact defaults in VSCode ShaderToy are different than defaults on shadertoy.com
It could be worth to align the defaults to avoid confusion.

If you check the readme you can see that repeat mode is already supported, simply add this line to your shader:
[code]

[2020-08-12 09:14] Malacath-92 commented on #107
Sorry that I never followed up on this. While we have a functioning parser/lexer for glsl I don't think we want to really determine if a symbol `mainImage` is defined approriately. The current behaviour is intended to ease transition from shadertoy.com to VSCode ShaderToy, not to make them equivalent. So I wouldn't mind if people have to "hack" their way around what is already a "hack" for the sak

[2020-08-25 19:15] #110 closed

[2020-08-25 19:19] stevensona commented on #110
My apologies for that, @alxklk. Thanks for bringing to our attention.

[2020-09-05 21:11] 57ar7up opened #113 "Voxels... support of CubeMap mainVoxel function and inputs"
Voxels still are the pain
Doesn't fully understand how this is made, but.
See [Mandelbrot & Logistic Map](https://www.shadertoy.com/view/tssBDr).

[2020-09-20 09:40] letmaik opened #114 "Can not control filter and wrap mode for buffer input"
https://www.shadertoy.com/view/XsyGzz

![grafik](https://user-images.githubusercontent.com/530988/93708380-9c251f00-fb2d-11ea-8cc4-d0e9342d081b.png)

![grafik](https://user-images.githubusercontent.com/530988/93708390-a5ae8700-fb2d-11ea-93cf-51296d4e078d.png)

[2020-09-20 09:46] letmaik commented on #114
Nevermind, I was missing the texture...

[2020-09-20 16:53] Kowbell opened #115 "[Feature Request] Disable automatic recompilation"
It would be nice to make the auto-recompile feature optional. Having your computer constantly watching file changes and triggering recompilation isn't always desirable, especially if you're on battery power, your laptop chassis is the heat sink, you're working on a shader that takes inexplicably long to compile (written by some one else, of course 😉.)

I imagine the most flexible approach would be

[2020-09-20 19:06] Malacath-92 commented on #115
I agree this could be more felxible, but the option to disable it or modify the timeout already exists:
![image](https://user-images.githubusercontent.com/30243536/93719783-146aff00-fb85-11ea-97fd-c23110f06143.png)
Adding more options for reloading, specifically disabling all automatic reloading and replacing it with a reload button (which is exactly what the online version of shader-toy does) sou

[2020-09-20 19:19] Malacath-92 commented on #114
You can get something similar with self-feedback:
![image](https://user-images.githubusercontent.com/30243536/93720029-c3f4a100-fb86-11ea-8ae2-f18517aa9fbe.png)

The issue here is that reading from other buffers by default uses nearest sampling, which will result in the distortions you see here. If you go on the online version and change the sampling to nearest you get the same effect. So I'm rena

[2020-09-20 19:22] Malacath-92 commented on #113
Oh boi, rendering to a cubemap sounds like a daunting task. Not sure though, I will try to investigate. I'm also renaming the issue to be a bit more concise.

[2020-10-13 21:34] theetcher commented on #114
Want to bump up this request. Just faced this behavior. For channels which result is other shader: MagFilter and MinFilter always Nearest, WrapMode is always Clamp.

[2020-10-14 08:06] Malacath-92 commented on #114
Alright, been a busy time since I moved recently. I will try to get back on this project. Thanks for the reminder @theetcher 🙏

[2020-10-18 08:52] Malacath-92 commented on #107
I've played around with this a bit recently. While I could throw together a decently functional preprocessor and use that in conjunction with our existing parser to find any valid definition for `mainImage` and `main` I don't feel like the complexity added to the code base is really worth these corner cases that in the end are easily worked around either way.
So I am considering rather to add a ha

[2020-10-18 11:03] 57ar7up commented on #107
Seems like a right way

[2020-10-19 01:26] #107 closed

[2020-10-19 01:26] #111 closed

[2020-10-19 01:26] #114 closed

[2020-10-19 01:26] #115 closed

[2020-10-22 12:56] Hendiadyoin1 opened #117 "Show GLSL Preview not working"
On the latest version of vsCode (1.50.1) the command to open the preview is not working:

[2020-10-22 13:00] Hendiadyoin1 commented on #117
The version 0.10.12 works for me but 0.10.13 does not seem to work

[2020-10-22 13:27] Malacath-92 commented on #117
'tis no good. I'll take a look soon.
Thanks for letting us know  :pray:

[2020-10-22 14:54] #117 closed

[2020-10-23 13:05] Hendiadyoin1 opened #119 "More iUniform possibilitys"
It would be nice if you would have more ways to restrict the iUniform varialbles.

My ideas are:
* non-linear step modifiers (ie. exponential base x)
* list selects
* boolean support

could be that for some of these there are other ways to do them, or that the glsl standard does not allow them though

[2020-10-23 13:25] Malacath-92 commented on #119
This is not really a question of what GLSL supports (or webgl in our case) but just of what the gui we use supports. I think the suggestions you make are quite useful but we'd need to fork [dat.gui](https://github.com/dataarts/dat.gui) to add some of them ourselves. I'm not sure how feasible that would be, but I'll look into it.

[2020-10-24 15:06] theetcher opened #120 "iUniform usage improvements"
Let me suggest following improvements:
- Update iUniform value of vector attributes during slider drag. Currently it will update only when you release the slider, Usual single float uniform updates correctly, vector only after release.
- Change non-slider iUniform values using mouse wheel. Focus on the field with mouse and:
      * Usual scroll - changes with user defined
      * Shift + wheel upd

[2020-12-09 16:51] Hendiadyoin1 opened #122 "Extension causes high cpu load/ gets stuck loading the preview window"
\<auto stuff>
- Issue Type: `Performance`
- Extension Name: `shader-toy`
- Extension Version: `0.10.14`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

[stevensona.shader-toy-unresponsive.cpuprofile.txt](https://github.com/stevensona/shader-toy/files/5667365/stevensona.shader-toy-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/microsoft/vscode/wiki/Ex

[2020-12-09 16:58] Hendiadyoin1 commented on #122
Other shaders seem to work, so propably my shader, but no error output is given

[2020-12-10 09:07] Malacath-92 commented on #122
Thanks for reporting this, I'll take a look at it on the weekend. Probably getting stuck in the parser because of some corner case.

[2020-12-15 17:56] somannick opened #124 "not support local audio file"
Enable Audio Input has been selected

Local path : #iChannel0 "file://audio/sin.mp3"

Error : Failed decoding audio file: audio/sin.mp3

[2020-12-16 07:00] Malacath-92 commented on #124
See the readme, audio is not supported in VSCode (they don't ship electron with ffmpeg)

[2020-12-16 07:00] #124 closed

[2020-12-23 03:00] jcyuan opened #126 "[feature request] VFlip control for texture"
for example:

#iChannel0::FlipY false

to match the functionality on shadertoy:
![image](https://user-images.githubusercontent.com/850854/102954218-f4453600-450d-11eb-86b4-03c89a20c7ed.png)

thanks!

[2020-12-25 19:13] Malacath-92 commented on #126
Can elaborate what this checkbox does? Does it really just vertically flip the texture?
If so I don't quite understand why this is necessary, shouldn't it be simple to just write a function that flips the texture coordinates on sampling?

[2020-12-29 07:49] jcyuan commented on #126
https://www.shadertoy.com/view/4sdfz8

for example, at line 17, fetch hash from texture to generate noise, if without this flip value, the result is wrong.
yes of course we can do something to avoid this option, but it's actually handy, and it just matches the shadertoy function so easy to publish to shadertoy once finished in VSC, or copy shader code from shadertoy into VSC to analyze.
this optio

[2021-07-18 08:47] chenglou opened #131 "Feature request: ability to change frame time graph's default view"
The FPS counter is likely the most used one; though it gets reset to the default ms view every time the shader is updated. Alternatively, maybe putting the FPS counter to be the default would be a good choice too? Shadertoy does that.

[2021-10-15 00:18] nkaretnikov opened #133 "Different output compared to the Shadertoy website"
The output of this code is different between the website and extension:

[code]

Website:
![shadertoy_website](https://user-images.githubusercontent.com/10469885/137412493-4316fa79-35a5-4e00-8989-c1d1311c831f.png)

Extension:
![shadertoy_ext](https://user-images.githubusercontent.com/10469885/137412502-a6bccf4c-1f1f-4ba0-9bbf-d02e1b799843.png)

[2021-10-18 11:17] Malacath-92 commented on #133
We blend the shader output into the webview that's opened, so the output alpha matters. What's happening here is that the alpha on the border between the two cirlces ends up being smaller than `1.0` thus the output will be blended. You have to fix this on your end, for example by adjusting your code like this
[code]

[2021-10-18 11:18] Malacath-92 commented on #133
Closing this since this is not an issue with the extension.

[2021-10-23 15:25] theetcher opened #135 "iMouse.w behavior is different from Shadertoy"
I assume this "desync" happened in Nov, 2020

from https://shadertoyunofficial.wordpress.com/2016/07/20/special-shadertoy-features/

It is more clearer if you observe this shader for iMouse channels data in the left-bottom corner: https://www.shadertoy.com/view/llySRh

in short - sign management is different:
- iMouse.w:
  - positive _**only for the first frame**_ if mouse button pressed
  - other

[2021-11-12 13:08] laurentlb opened #136 "Make available as web extension"
Hi,

Would it be possible to make this extension available in web? For example, it would be nice to use it from vscode.dev

https://code.visualstudio.com/docs/editor/vscode-web#_extensions

[2021-11-12 14:29] Malacath-92 commented on #136
See #134

[2021-11-19 17:30] JacksonKearl commented on #136
I've posted "Shader Toy (Web)" to the extension marketplace. It's currently designed for web use only and will not activate if it finds the normal shader toy installation active. Though there may be issues with duplicated command registrations at the moment.. https://marketplace.visualstudio.com/items?itemName=jakearl.shader-toy-web
![image](https://user-images.githubusercontent.com/8586769/142665

[2021-12-20 04:22] jcyuan commented on #126
one year past, close as no reply.

[2021-12-20 04:22] #126 closed

[2022-01-24 01:25] zlnimda opened #138 "Compilation Error with includes"
Hello,

It seems compilation shaders with includes that contains forward declarations does not work as expected.

Steps to reproduce:
- Create a include shader with a function that use another function forward declared in this shader
- Define the forward declared function in your main shader

Result expected: no error, should be working

Current result: error message `Shader failed to compile - <y

[2022-04-20 14:26] wmanning-cra opened #141 "Feature request: setting to start the shader paused"
I'm working on a raymarching shader that is currently very slow, and having my machine slow down drastically every time I start typing text makes it very hard to work. At the same time, I still want to be able to see the raymarcher update in real-time as I change settings.

This could be accomplished with a new flag for whether the shader should be paused immediately after updating.

Alternatively

[2022-04-20 18:46] wmanning-cra opened #142 "Feature request: leave the preview alone if compilation fails"
It's really helpful to see the instant difference before and after a change to the shader, but if the change takes more than one or two keystrokes to make, then the preview is interrupted with a compile error.

[2022-04-30 10:37] Malacath-92 commented on #141
I thought this should already be supported, e.g. the paused state should be maintained through reloads if the setting `Reset State On Change Editor` is disable. I can take a closer look to see if that currently works or not.

[2022-04-30 10:37] Malacath-92 commented on #142
You can modify the delay between changes and a recompile via the setting `Reload On Edit Text Delay`. Is this not enough for your use-case?

[2022-04-30 10:38] Malacath-92 commented on #142
To clarify, every edit should reset this timer. So if your keystrokes are faster than the delay you should not get a recompile until you stop typing.

[2022-07-05 02:57] MineCake147E opened #144 "Feature request: GLSL ES 3.0 Support"
GLSL ES 3.0 has many additional features.
The original ShaderToy does not support GLSL ES 3.0 either, but it would be great to add it to this wonderful extension.

[2022-08-29 07:34] duwangthefirst opened #146 "bug report on self-input-buffer and solution to it"
I'm running this shadertoy demo: [https://www.shadertoy.com/view/4ddSz4](https://www.shadertoy.com/view/4ddSz4)

it has two buffer: bufferA and mainImage, and the final result is not right and the console log shows some warning about "Framebuffer is incomplete: Attachment has zero size.".

In vs code, after edit the html file generated by this plugin (right click -> Shader Toy: create portable GLS

[2022-10-20 08:19] Malacath-92 commented on #146
Sorry @duwangthefirst I have very little time to work on hobby projects these days and my other projects consumes all of that. Since you have a solution here can you perhaps just make a PR for it? Sounds like a simple solution.

[2022-10-22 09:02] andras-gyarmati opened #151 "New feature: import from shadertoy url and from shadertoy export json"
I'm just a beginner and not sure how to set up the same project in vscode as shadertoy.com. I have multiple buffers and I didn't find any mention of them in your readme, but the import would make it much easier to set up a project.

[2022-10-22 10:15] Malacath-92 commented on #151
This segment shows how to depend on other buffers, though it maybe could do with some clarification: https://github.com/stevensona/shader-toy#texture-input

The feature might make sense, in the meantime the samples have examples for it.

[2022-10-22 13:51] andras-gyarmati commented on #151
thanks, i managed to set up my environment based on the examples. it was not so hard, i had to link up a buffer and use iKeyboard instead of iChannel1 but i can imagine that it's not a trivial thing to implement the import from shadertoy

[2022-10-28 05:44] floppyhammer opened #152 "Frametime panel blocks the Controls panel"
The first few control params can barely be seen this way.

<img width="199" alt="image" src="https://user-images.githubusercontent.com/28705694/198511598-9255992d-b23b-48cf-aa20-6a130e44377b.png">

[2022-11-09 10:34] skypyxis opened #153 "Feature request: export as video"
A great addition would be to be able to export the result as a video file